# TASK 1

## Cleaning of the data using pure Python

In [5]:
import json

In [6]:
def loaddata(filename):
    with open(filename , "r") as f:  
        data = json.load(filename)
    return data

In [7]:
# function to load data
def loaddata(filename):
    with open(filename,"r") as f:
        data = json.load(f)
    return data

In [8]:
data = loaddata("dataset.json")

In [9]:
data

[{'id': '1',
  'name': '  Alice ',
  'age': '30 ',
  'department': ' Sales ',
  'salary': ' 60000 ',
  'experience_years': '5'},
 {'id': '2',
  'name': 'Bob',
  'age': ' ',
  'department': 'HR',
  'salary': '75000',
  'experience_years': '20'},
 {'id': '3',
  'name': 'Charlie',
  'age': '25',
  'department': 'IT ',
  'salary': '$50000',
  'experience_years': '2'},
 {'id': '4',
  'name': 'David',
  'age': '35',
  'department': ' Sales',
  'salary': '65,000 ',
  'experience_years': '8'},
 {'id': '5',
  'name': 'Eve',
  'age': '29',
  'department': 'IT',
  'salary': '58000',
  'experience_years': 'four'},
 {'id': '6',
  'name': '',
  'age': '40',
  'department': 'Marketing',
  'salary': '68000',
  'experience_years': '10'}]

## Problems
1. extra spaces
2. empty values
3. incorrect format of values

In [34]:
# for empty values
# no name field and no age 
filtered_data = [
    row for row in data
    if row.get("name", "").strip() and row.get("age", "").strip()
]
filtered_data

[{'id': '1',
  'name': 'Alice',
  'age': '30',
  'department': 'Sales',
  'salary': '60000',
  'experience_years': '5'},
 {'id': '3',
  'name': 'Charlie',
  'age': '25',
  'department': 'IT',
  'salary': '50000',
  'experience_years': '2'},
 {'id': '4',
  'name': 'David',
  'age': '35',
  'department': 'Sales',
  'salary': '65000',
  'experience_years': '8'},
 {'id': '5',
  'name': 'Eve',
  'age': '29',
  'department': 'IT',
  'salary': '58000',
  'experience_years': '4'}]

In [178]:
def clean_data(data):
    # dictionary for handalig expierience_years format
    d  = {"zero": "0", "one": "1", "two": "2", "three": "3", "four": "4", 
          "five": "5", "six": "6", "seven": "7", "eight": "8", "nine": "9"}
    
    # for name field with spaces 
    for row in filtered_data:
        row["name"] = row.get("name", "").strip()
        #similarly for age
        row["age"] = row.get("age", "").strip()
        #similarly for department name
        row["department"] = row.get("department", "").strip()
        #similarly for salary
        row["salary"] = row.get("salary", "").strip()
    # spaces handaled done
        # format handaling
        # salary
        row["salary"] = row.get("salary", "").replace(",", "").replace("$", "").strip()
        # expierence_years
        exp = row.get("experience_years", "").strip()
        row["experience_years"] = exp if exp.isdigit() else ''.join(d.get(i.lower(), '') for i in exp.split()
        )
    print(filtered_data)
    return filtered_data

In [180]:
json.dump(clean_data(data),open("cleaned_dataset.json","w") , indent=4)

[{'id': '1', 'name': 'Alice', 'age': '30', 'department': 'Sales', 'salary': '60000', 'experience_years': '5'}, {'id': '3', 'name': 'Charlie', 'age': '25', 'department': 'IT', 'salary': '50000', 'experience_years': '2'}, {'id': '4', 'name': 'David', 'age': '35', 'department': 'Sales', 'salary': '65000', 'experience_years': '8'}, {'id': '5', 'name': 'Eve', 'age': '29', 'department': 'IT', 'salary': '58000', 'experience_years': '4'}]

## Data cleaning completed

# TASK 2

In [59]:
data = loaddata("cleaned_dataset.json")
data

[{'id': '1',
  'name': 'Alice',
  'age': '30',
  'department': 'Sales',
  'salary': '60000',
  'experience_years': '5'},
 {'id': '3',
  'name': 'Charlie',
  'age': '25',
  'department': 'IT',
  'salary': '50000',
  'experience_years': '2'},
 {'id': '4',
  'name': 'David',
  'age': '35',
  'department': 'Sales',
  'salary': '65000',
  'experience_years': '8'},
 {'id': '5',
  'name': 'Eve',
  'age': '29',
  'department': 'IT',
  'salary': '58000',
  'experience_years': '4'}]

In [146]:
def Analysis(data):
    dept_salaries = {}
    dept_counts = {}
    total_salary = 0
    total_count = 0
    youngest = None
    most_experienced = None
    most_exp_dept = {}
    
    for emp in data:
        dept = emp["department"]
        salary = int(emp["salary"])
        age = int(emp["age"])
        experience = emp["experience_years"]

        # Department-wise salary sums and counts
        if dept not in dept_salaries:
            dept_salaries[dept] = 0
            dept_counts[dept] = 0
        dept_salaries[dept] += salary
        dept_counts[dept] += 1

        # Total salary and count
        total_salary += salary
        total_count += 1

        # Youngest employee
        if youngest is None or age < int(youngest["age"]):
            youngest = emp
            
        # Most experienced employee overall
        if most_experienced is None or experience > most_experienced["experience_years"]:
            most_experienced = emp
            
        # Most experienced employee per department
        if dept not in most_exp_dept or experience > most_exp_dept[dept]["experience_years"]:
            most_exp_dept[dept] = emp

    # Calculate average salary per department
    dept_avg_salary = {}
    for dept in dept_salaries:
        dept_avg_salary[dept] = dept_salaries[dept] / dept_counts[dept]

    # Calculate overall average salary
    overall_avg_salary = total_salary / total_count if total_count > 0 else 0

    # Print results
    print("Department-wise Average Salary:")
    for dept, avg in dept_avg_salary.items():
        print(f"  - {dept}: ${avg:.2f}")

    print(f"\nOverall Average Salary: ${overall_avg_salary:.2f}")
    print(f"\nYoungest Employee: {youngest['name']} ({youngest['age']} years old)")
    print("Most Experienced Employee:")
    for dept, emp in most_exp_dept.items():
        print(f"  - {dept}: {emp['name']} ({emp['experience_years']} years)")
        
    # Return results as dictionary
    return {
        "department_avg_salaries": dept_avg_salary,
        "overall_avg_salary": overall_avg_salary,
        "youngest_employee": youngest,
        "most_experienced_employee": most_experienced,
        "most_experienced_per_department": most_exp_dept
    }

In [148]:
Analysis(data)

Department-wise Average Salary:
  - Sales: $62500.00
  - IT: $54000.00

Overall Average Salary: $58250.00

Youngest Employee: Charlie (25 years old)
Most Experienced Employee:
  - Sales: David (8 years)
  - IT: Eve (4 years)

{'department_avg_salaries': {'Sales': 62500.0, 'IT': 54000.0},
 'overall_avg_salary': 58250.0,
 'youngest_employee': {'id': '3',
  'name': 'Charlie',
  'age': '25',
  'department': 'IT',
  'salary': '50000',
  'experience_years': '2'},
 'most_experienced_employee': {'id': '4',
  'name': 'David',
  'age': '35',
  'department': 'Sales',
  'salary': '65000',
  'experience_years': '8'},
 'most_experienced_per_department': {'Sales': {'id': '4',
   'name': 'David',
   'age': '35',
   'department': 'Sales',
   'salary': '65000',
   'experience_years': '8'},
  'IT': {'id': '5',
   'name': 'Eve',
   'age': '29',
   'department': 'IT',
   'salary': '58000',
   'experience_years': '4'}}}